<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>Welcome to my blog!</h2>
    <p>This space represents my dedication to building an exceptional web experience, utilizing a powerful stack of technologies and architectural principles.</p>
    <p>I developed this blog using Express.js, a robust web application framework for Node.js, which streamlined the development process and provided essential tools for handling routing and middleware efficiently. Alongside Express, I integrated MongoDB and Mongoose to manage data and ensure smooth interactions with the database.</p>
    <p>To maintain a well-organized and scalable codebase, I implemented the Model-View-Controller (MVC) architectural pattern. This separation of concerns allowed me to handle data, logic, and presentation independently, enhancing the blog's maintainability and code reusability.</p>
    <p>EJS (Embedded JavaScript) served as the templating engine for the blog, dynamically generating HTML content and presenting a modern and user-friendly interface. I employed responsive CSS techniques to ensure the blog adapts seamlessly to various devices.</p>
    <p>Throughout this journey, I embraced best practices like asynchronous programming and error handling to optimize performance and ensure data security.</p>
    <p>Feel free to contact me on my <a target="_blank" class="portfolio" href="https://shawnc-portfolio.netlify.app/">portfolio</a> if you have any questions, feedback, or would like to explore more of my work. I'm always open to new collaborations and exciting opportunities.</p>
    <p>I hope you enjoy exploring my articles, and your feedback is always appreciated. Happy reading!</p>
  </div>
  
  
  
  <%- include("./partials/footer.ejs") %>
</body>
</html>